* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



h1 {
    background-color: rgb(9, 9, 94);
    color: white;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .4rem;
}



#searchPanel {
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 5px;
    width: 500px;
}


form {
    margin: 20px auto;
    width: 40%;
    padding: 10px 5px;
}


form input {
    width: 100%;
    display: block;
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
}

/* 
#searchDeparture label {
    margin: 10px 0;
} */



form label {
    display: block;
    margin: 10px auto;
    font-weight: bold;
}


#noTrainsInfo {
    color: red;
    font-size: 15px;
    background-color: #fff;
}


button {
    margin: 10px 0;
    padding: 5px 10px;
    background-color: rgb(9, 9, 94);
    color: white;
    border-radius: 5px;
}

#checkBoxDiv {
    margin: 10px auto;

}

table {
    margin: 20px auto;
    width: 60%;
    text-align: center;
    border-collapse: collapse;
}


tr.route {
    border-bottom: 1px solid gray;
    height: 40px;
    padding: 10px 0;
}

tr.route:nth-child(even) {
    background-color: rgba(120, 180, 184, 0.11);
}

tr.route:hover {
    background-color: rgb(50, 151, 174);
}